* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #dce1df;
    color: #4f585e;
    font-family: "Source Sans Pro", sans-serif;
    text-rendering: optimizeLegibility;
}

.form {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 15px;
    min-height: 250px;
    margin-top: 150px;
}

input {
    display: block;
    outline: none;
    padding: 15px 10px;
    margin: 30px;
    border: solid 1px transparent;
    background: none;
    color: white;
    width: 200px;
    transition: border-color 1s;
}

input:focus {
    border-color: royalblue;
}

.form button {
    padding: 10px;
    color: white;
    background: royalblue;
    border: none;
    width: 200px;
    margin-left: 40px;
    transition: 0.2s;
    cursor: pointer;
}

.form button:hover {
    background: rgb(114, 149, 255);
}

.action {
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.load {
    position: relative;
    margin: 2px 5px;
    padding-bottom: 5px;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    transition: 0.5s;
}

.load.show {
    border-bottom-color: royalblue;
}

.form a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 15px;
    text-align: center;
    transition: 0.5s;
}

.form a:hover {
    color: royalblue;
}

.show-page {
    display: block;
    animation: show-page 1s;
}

@keyframes show-page {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    border-top: 5px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.568);
    color: rgb(143, 143, 143);
    padding: 30px 500px;
    margin-top: 50px;
    padding-bottom: 110px;
}

footer h1 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
}

.container {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 20px 30px;
    border-radius: 20px;
}

footer .services {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 500px;
}

footer .services .service p {
    max-width: 300px;
}

footer #contact {
    color: rgb(181, 181, 181);
}

.form .avatar-input label {
    display: block;
    margin: 30px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.form .avatar-input input[type='file'] {
    display: none;
}

#url {
    display: none;
}

#avatar-preview {
    border-radius: 50%;
    margin-left: 90px;
    max-width: 100px;
    max-height: 100px;
}

#avatar-preview-comm {
    padding-top: 10px;
    width: 100%;
    height: 80px;
    border-radius: 50%;
}

.pseudo {
    margin-left: 2px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #565656;
    display: flex;
    justify-content: space-between;
}

.pseudo date {
    font-size: 15px;
    font-weight: 500;
    color: #565656;
}

.star {
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 150%;
}

.star span {
    color: #ffc700;
}

.comm .column:first-child {
    align-self: flex-start;
}

.comm .column:last-child {
    padding-left: 10px;
    justify-content: left;
    width: calc(100% - 75px);
    word-wrap: break-word;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comm .column p {
    line-height: 140%;
}

.comm .column p:last-child {
    padding-top: 10px;
    line-height: 100%;
    padding-left: 3px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row>p {
    margin-left: 10%;
}

.comment-session {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.comment-box {
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
}

.comment-box .row {
    display: flex;
    align-items: center;
}

.comment-session .name {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
}

.comment-box .user {
    display: flex;
    width: min-content;
    padding-top: 30px;
}

.comment-box .image img {
    width: 50px;
    height: 55px;
    margin-right: 10px;
    border-radius: 50%;
    max-width: unset;
    padding-top: 5px;
}

.rating-css div {
    color: #ffc700;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -6px;
}

.rating-css input {
    display: none;
}

.rating-css input+label {
    /*    font-size: 60px;
    text-shadow: 1px 1px 0 #ffe400;*/
    cursor: pointer;
}

.rating-css input:checked+label~label {
    color: #838383;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.comment-box .comment-title {
    background: #eee;
    width: 40%;
    height: 34px;
    margin: 10px 0 0 0;
    padding: 5px;
    padding-left: 10px;
    resize: inherit;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #0003;
}

.comment-box .comment-title:focus-visible {
    box-shadow: inset 0 0 0 1px #009cff;
    outline: none;
}

.comment-box .comment {
    background: #eee;
    width: 100%;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    resize: inherit;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #0003;
}

.comment-box .comment:focus-visible {
    box-shadow: inset 0 0 0 1px #009cff;
    outline: none;
}

.comment-box .comment-submit {
    float: right;
    padding: 6px 10px;
    border: none;
    background: #009cff;
    color: #eee;
    cursor: pointer;
    border-radius: 3px;
}

.comment-box .comment-submit:hover {
    background: #0077b3;
}

@media screen and (max-width: 480px) {
    .container {
        font-size: 6px
    }
}

.divInput {
    width: 100%;
    display: flex;
    justify-items: flex-start;
}

.btnConnexion {
    color: #333333;
    border-color: #333333;
}

.btnConnexion:hover {
    background-color: #333333;
    color: white;
}

.btnConnexion:focus {
    border-color: #333333;
}


/* Style du formulaire de recherche */

.formRecherche form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.formtri {
    display: flex;
}

.formTri1 {
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formTri2 {
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.formRecherche form input[type="text"] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.formRecherche form input[type="submit"] {
    width: 40%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formRecherche form input[type="submit"]:hover {
    background-color: #45a049;
}


/*css style 2 */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}

a.btn {
    background: #0096a0;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
    background: #00a2ad;
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
    background: #008a93;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
    transform: translate3d(0, 1px, 0);
    transition: all 0.025s 0s ease-out;
}

div.cards {
    margin: 80px auto;
    max-width: 960px;
    text-align: center;
}

div.card {
    background: #ffffff;
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 300px;
    z-index: 1;
}

div.card img {
    max-width: 300px;
}

div.card .card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 0;
    padding-bottom: 75%;
}

div.card div.card-title {
    background: #ffffff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}

div.card div.card-title a.toggle-info {
    border-radius: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
}

div.card div.card-title a.toggle-info span {
    background: #ffffff;
    display: block;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: all 0.15s 0s ease-out;
    width: 12px;
}

div.card div.card-title a.toggle-info span.left {
    right: 14px;
    transform: rotate(45deg);
}

div.card div.card-title a.toggle-info span.right {
    left: 14px;
    transform: rotate(-45deg);
}

div.card div.card-title h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
}

div.card div.card-title h2 small {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
}

div.card div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
}

div.card div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px 15px 20px;
    text-align: center;
}

div.card div.card-flap {
    background: #d9d9d9;
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
}

div.card div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
}

div.card div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
}

div.cards.showing div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
}

.no-touch div.cards.showing div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
}

div.card.show {
    opacity: 1 !important;
    transform: scale(1) !important;
}

div.card.show div.card-title a.toggle-info {
    background: #ff6666 !important;
}

div.card.show div.card-title a.toggle-info span {
    top: 15px;
}

div.card.show div.card-title a.toggle-info span.left {
    right: 10px;
}

div.card.show div.card-title a.toggle-info span.right {
    left: 10px;
}

div.card.show div.card-flap {
    background: #ffffff;
    transform: rotateX(0deg);
}

div.card.show div.flap1 {
    transition: all 0.3s 0s ease-out;
}

div.card.show div.flap2 {
    transition: all 0.3s 0.2s ease-out;
}