* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(https://media.discordapp.net/attachments/885515822817234954/1062727731709759519/AdobeStock212944246jpeg_62ce7b4760641.png?width=871&height=581);
    background-repeat: no-repeat;
    background-size: cover;
    background: #dce1df;
    color: #4f585e;
    font-family: "Source Sans Pro", sans-serif;
    text-rendering: optimizeLegibility;
}

.form {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 15px;
    min-height: 250px;
    margin-top: 150px;
}

input {
    display: block;
    outline: none;
    padding: 15px 10px;
    margin: 30px;
    border: solid 1px transparent;
    background: none;
    color: white;
    width: 200px;
    transition: border-color 1s;
}

input:focus {
    border-color: royalblue;
}

.form button {
    padding: 10px;
    color: white;
    background: royalblue;
    border: none;
    width: 200px;
    margin-left: 40px;
    transition: 0.2s;
    cursor: pointer;
}

.form button:hover {
    background: rgb(114, 149, 255);
}

.action {
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.load {
    position: relative;
    margin: 2px 5px;
    padding-bottom: 5px;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    transition: 0.5s;
}

.load.show {
    border-bottom-color: royalblue;
}

.form a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 15px;
    text-align: center;
    transition: 0.5s;
}

.form a:hover {
    color: royalblue;
}



.show-page {
    display: block;
    animation: show-page 1s;
}

@keyframes show-page {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    border-top: 5px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.568);
    color: rgb(143, 143, 143);
    padding: 30px 500px;
    margin-top: auto;
}

footer h1 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
}

.container {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 20px 30px;
    border-radius: 20px;
}

footer .services {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 500px;
}

footer .services .service p {
    max-width: 300px;
}

footer #contact {
    color: rgb(181, 181, 181);
}

.form .avatar-input label {
    display: block;
    margin: 30px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.form .avatar-input input[type='file'] {
    display: none;
}

#url{
display: none;
}

#avatar-preview {
    border-radius: 50%;
    margin-left: 100px;
}

#avatar-preview-comm {
    padding-top: 10px;
    width: 100%;
    height: 80px;
}

.pseudo{
    margin-left: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #565656;
}

.star{
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 150%;
}

.star span{
    color: #ffc700;
}

.comm .column:first-child{
    align-self: flex-start;
}

.comm .column:last-child {
    padding-left: 10px;
    justify-content: left;
    width: calc(100% - 75px);
    word-wrap: break-word;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comm .column p {
    line-height: 140%;
}

.comm .column p:last-child {
    padding-top: 10px;
    line-height: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row > p {
    margin-left: 10%;
}

@media screen and (max-width: 480px) {
    .container {
        font-size: 6px
    }
}

.divInput {
    width: 100%;
    display: flex;
    justify-items: flex-start;
}
.btnConnexion {
    color: #333333;
    border-color: #333333;
}
.btnConnexion:hover {
    background-color: #333333;
    color: white;
}

.btnConnexion:focus {
    border-color: #333333;
}

/* Style du formulaire de recherche */
.formRecherche form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
.formRecherche form input[type="text"] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
.formRecherche form input[type="submit"] {
    width: 40%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.formRecherche form input[type="submit"]:hover {
    background-color: #45a049;
  }